#macro( from_clojure $name $target)$target.get($key.intern($name))#end
Welcome $name to $key
today is $date.  ${person}    $person.getBasis()[0]
#from_clojure("fname",$person)
use cglib  ${entity.fname}
${entity.class}
${entity.toString()}
use get directly  ${entity.get("address.street")}
use normal java way  ${entity.address.street}
$person.size()
#foreach ($i in $list)
    $i
#end
